body
{
	margin: 0;
	padding: 0;
}

section
{
	padding:0 100px;
	background: url(home.jpg);
	max-height: 600px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.header
{
	background-color: #bba28c

}
h2
{
	font-family: FreeMono, monospace;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 70px;
}

.box
{
	position: relative;
	height: 600px;
	width:1600;
	margin-left: 70px;
	background: rgba(255,255,255,.2);
	box-shadow: 0 25px 15px rgba(0,0,0,.5);
	
}
select
{
	background: rgba(255,255,255,.2);

}
option
{
	background: rgba(255,255,255,.2);
}
input
{
	background: rgba(255,255,255,.2);
	
}
.card
{   
	width:410px;
    top: 30px;
    padding: 10px;
    background: rgba(255,255,255,.2);
	backdrop-filter: blur(10px);
}
h3
{
	backdrop-filter: blur(10px);

}
.copywright
{
	background-color: #c4b8b2
}
